{% extends "base.html" %} 
{% block title %}YaCut - укоротитель ссылок{%endblock %} 
{% block content %}
  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Создайте короткую ссылку автоматически или предложите свой вариант
      </p>
      <div class="container">
        <div class="row my-3">
          <div class="col-sm"></div>
          <div class="col-sm">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %}
                    {{ message }}<br>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            <form method="POST" novalidate>
              {{ form.hidden_tag() }}
              <input class="form-control form-control-lg py-2 mb-3" id="form-title" maxlength="2000" name="original_link" placeholder="Введите ссылку" required type="text" value="{{ form.original_link.data or '' }}">
                <p class="text-danger">
                  {% for error in form.original_link.errors %}
                    {{ error }}<br>
                  {% endfor %}
                </p>
              <input class="form-control form-control-lg py-2 mb-3" id="form-link" maxlength="16" name="custom_id" placeholder="Введите короткую ссылку" type="text" value="{{ form.custom_id.data or '' }}">
              {% if form.custom_id.errors %}
                <p class="text-danger">
                  {% for error in form.custom_id.errors %}
                    {{ error }}<br>
                  {% endfor %}
                </p>
              {% endif %}
              <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Сократить">
            </form>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
      {% if short_link %}
        <div class="container">
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
              <p class="text-center">
                <h5 class="text-center">
                  <a href="{{ short_link }}">{{ short_link }}</a>
                </h5>
              </p>
            </div>
            <div class="col-sm"></div>
          </div>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock %}